<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <a routerLink="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <!-- Imgagem Logo -->
        <div class="col-xl-6">
          <img src="../../assets/images/Alencar_Site_Logomarca_300-removebg-preview.png" class="img-fluid" alt="Sample image">
        </div>
      
        <!-- Botao menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </a>
    </a>
   
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="nav nav-pills me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/home" ><strong class="text-success">Home</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/loja"><strong class="text-success">Loja</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sobre"><strong class="text-success">Sobre nós</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contato"><strong class="text-success">Entre em contato</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/clientes"><strong class="text-success">Nossos clientes</strong></a>
        </li>
      </ul>

      <a type="button" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <!-- imagem perfil -->
        <div class="col-xl-6">
          <img src="../../assets/images/usuario 3.png" (click)="openLogin()" alt="Sample image">
        </div>
      
      </a>
      
    </div>
  </div>
</nav>

<app-hero *ngIf="showHero"></app-hero>

<section *ngIf="showPerfil">
    <div class="containerPerfil d-flex justify-content-center align-items-center">
        <div class="cardPerfil">
         <div class="upper">
            <img src="../../assets/images/backperfil.jpg" class="img-fluid"> 
         </div>
         <div class="user text-center">
           <div class="profile">
             <img src="../../assets/images/usuario 3.png" class="rounded-circle" width="80">
           </div>
         </div>
         <div class="mt-4 text-center">
           <span class="text-muted d-block mb-2">Usuário</span>
           <button  class="btn btn-success btn-sm follow"  data-bs-toggle="modal" data-bs-target="#staticBackdropLogin"> Entrar</button>
         </div>
        </div>
      </div>
</section>

  <!-- modal login -->
  <section>

    <div class="modal fade" id="staticBackdropLogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <!-- <div class="card-body border p-0">
                    <p>
                        <a class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-between"
                            data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                            aria-controls="collapseExample">
                            <span class="fw-bold">PayPal</span>
                            <span class="fab fa-cc-paypal">
                            </span>
                          </a>
                        </p>
                    <div class="collapse p-3 pt-0" id="collapseExample">
                      <div class="row">
                        <div class="col-8">
                          <p class="h4 mb-0">Summary</p>
                          <p class="mb-0"><span class="fw-bold">Product:</span><span class="c-green">: Name of
                                        product</span></p>
                                        <p class="mb-0"><span class="fw-bold">Price:</span><span
                                          class="c-green">:$452.90</span></p>
                                <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                                  nihil neque
                                  quisquam aut
                                    repellendus, dicta vero? Animi dicta cupiditate, facilis provident quibusdam ab
                                    quis,
                                    iste harum ipsum hic, nemo qui!</p>
                            </div>
                          </div>
                    </div>
                </div>  -->
                
                <div class="modal-body">
                <!-- fazer login -->
                <section id="fazerLogin" *ngIf="showFazerLogin">
                  <div class="collapse show p-3 pt-0" id="collapseExample">
                    <div class="row">
                      <div class="col-lg-6">
                        <br>
                        <form>
                          <div class="row">
                            <div class="col-12">
                              <div>
                                <input type="text" class="form-control" placeholder="Email ou Celular">
                                <label></label>
                              </div>
                            </div>
                  
                            <div class="col-12">
                              <div>
                                <input type="text" class="form-control" placeholder="Senha">
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <tr class="row">
                            <div class="col-8">
                              <td> <a type="submit" class="btn btn-link text-success"  (click)="recuperarSenha()"><strong> Esqueceu sua senha? </strong></a></td>
                            </div>
                            <div class="col-3">
                              <td> <a type="submit" class="btn btn-with" (click)="cadastrar()"><strong class="text-success">Cadastrar</strong></a></td>
                            </div>
                          </tr>
                        </form>
                      </div>
                  
                      <div class="col-lg-6">
                        <form>
                          <br>
                          <br>
                          <br>
                          <a type="button" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                            <img src="../../assets/images/login_google.png" class="img-fluid img-thumbnail rounded mx-auto d-block">
                          </a>
                        </form>
                      </div>
                      <div class="justify-content-center text-center">
                        <br>
                        <button type="submit" class="form-control btn btn-success">Entrar</button>
                      </div>
                  
                      <form>
                        <div class="justify-content-center text-center">
                          <br>
                          <button type="submit" class="form-control btn btn-light"  
                          data-bs-toggle="modal" data-bs-target="#staticBackdropLogin" >Cancelar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </section> 
                <!-- cadastrar usuario -->
                <section id="criarUsuario" *ngIf="showCriarUsuario">
                <div class="collapse show p-3 pt-0" id="collapseExample">
                    <div class="row">
                          <tr>
                            <div class="col-12">
                            <td class="col-6"> 
                              <input type="text" id="nome" name="cnpj" class="form-control" maxlength="14"
                                     placeholder="Nome" formControlName="nome"  />
                                    <label class="text-danger"><strong> </strong></label>
                            </td>
                            <td></td>
                            <td class="col-6">
                              <input type="textx'" id="sobrenome" name="sobrenome" class="form-control"
                                     placeholder="Sobrenome (opcional)" formControlName="sobreno"/>
                                     <label class="text-danger"><strong>  </strong></label>
                            </td>
                          </div>
                          </tr>
                          <tr>
                            <div class="col-12">
                              <td class="col-6"> 
                              <input type="text" id="cnpj" name="cnpj" class="form-control" maxlength="14"
                                placeholder="Email" formControlName="cnpj"  />
                                <label class="text-danger"><strong> </strong></label>
                              </td>
                              <td></td>
                              <td class="col-6">
                                <input type="textx'" id="sobrenome" name="sobrenome" class="form-control"
                                placeholder="Telefone" formControlName="sobreno"/>
                                <label class="text-danger"><strong>  </strong></label>
                              </td>
                            </div>
                          </tr>
                          <tr>
                            <div class="col-12">
                              <td class="col-6"> 
                              <input type="text" id="cnpj" name="cnpj" class="form-control" maxlength="14"
                                placeholder="Senha" formControlName="cnpj"  />
                                <label class="text-danger"><strong> </strong></label>
                              </td>
                              <td></td>
                              
                              <td class="col-6">
                                <input type="textx'" id="sobrenome" name="sobrenome" class="form-control"
                                placeholder="Confirmar senha" formControlName="sobreno"/>
                                <label class="text-danger"><strong>  </strong></label>
                              </td>
                            </div>
                          </tr>
                      <div class="justify-content-center text-center">
                          <button type="submit" class="form-control btn btn-success" >Cadastrar</button>
                      </div>
                  
                      <form>
                        <div class="justify-content-center text-center">
                          <br>
                          <button type="submit" class="form-control btn btn-light" (click)="voltar()" >Voltar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </section>
                <!-- email recuperar senha -->
                <section id="recuperarSenha" *ngIf="showRecuperarSenha">
                  <div class="collapse show p-3 pt-0" id="collapseExample">
                      <div class="row">
                        <div class="col-lg-12">
                          <br>
                          <form>
                            <div class="row">
                              <div class="col-12">
                                  <input type="text" class="form-control" placeholder="Email">
                              </div>
                            </div>
                          </form>
                        </div>
                    
                        <div class="justify-content-center text-center">
                          <br>
                          <button type="submit" class="form-control btn btn-success">Enviar</button>
                        </div>
                    
                        <form>
                          <div class="justify-content-center text-center">
                            <br>
                              <button type="submit" class="form-control btn btn-light" (click)="voltar()" >Voltar</button>
                          </div>
                        </form>
                      </div>
                    </div>
                </section>
                  <!-- fim usuario-->
                 </div>
                <!-- fim do modal -->
             </div>
             <!-- fim do card -->
          </div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</section>