

     <!-- Start Banner Hero -->
     <div class="banner-wrapper bg-light">
      <div id="index_banner" class="banner-vertical-center-index container-fluid pt-5">

          <!-- Start slider -->
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <section id="hero" class=" ">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                                <div class="py-5 row d-flex align-items-center">
                                    <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                                        <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                                            Site <strong>Profissional</strong> 
                                          <br>
                                      </h1>
                                        <p class="banner-body text-muted py-3 mx-0 px-0">
                                        <strong> Site responsivo com Segurança e Certificado</strong>
                                      </p>
                                        <a class="banner-button btn rounded-pill btn-outline-warning btn-lg px-4" routerLink="/site" role="button">Realizar Orçamento</a>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="50">
                              <img src="../../assets/images/site-responsivo-removebg-preview.png"  class="img-fluid animated" alt="">
                            </div>
                          </div>
                        </div>
                    </section>
                  </div>
                  <div class="carousel-item">
                    <section id="hero" class=" ">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                                <div class="py-5 row d-flex align-items-center">
                                    <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                                        <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                                            Site, <strong>Portal,</strong> 
                                            Blog <strong>Serviço na Internet</strong> 
                                          <br>
                                      </h1>
                                        <p class="banner-body text-muted py-3 mx-0 px-0">
                                         <strong> O seu negócio com a melhor técnologia da internet</strong>
                                      </p>
                                        <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" routerLink="/site" role="button">Realizar Orçamento</a>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="50">
                              <img src="../../assets/images/paginas 2.png"  class="img-fluid animated" alt="">
                            </div>
                          </div>
                        </div>
                    </section>
                  </div>
                  <div class="carousel-item">
                    <section id="hero" class=" ">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                                <div class="py-5 row d-flex align-items-center">
                                    <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                                        <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                                            Desenvolvemos Sites <strong>Personalizados</strong> 
                                          <br>
                                      </h1>
                                        <p class="banner-body text-muted py-3 mx-0 px-0">
                                            Site personalizado de acordo com seu gosto
                                      </p>
                                        <a class="banner-button btn rounded-pill btn-outline-dark btn-lg px-4" routerLink="/site" role="button">Realizar Orçamento</a>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="50">
                              <img src="../../assets/images/pagina 0003.png"  class="img-fluid animated" alt="">
                            </div>
                          </div>
                        </div>
                    </section>
                  </div>
                  <div class="carousel-item">
                    <section id="hero" class=" ">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                                <div class="py-5 row d-flex align-items-center">
                                    <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                                        <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                                            Desenvolvimento <strong>Profissional</strong> 
                                          <br>
                                      </h1>
                                        <p class="banner-body text-muted py-3 mx-0 px-0">
                                          O seu negócio com a melhor técnologia da internet
                                      </p>
                                        <a class="banner-button btn rounded-pill btn-outline-success btn-lg px-4" routerLink="/site" role="button">Realizar Orçamento</a>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="50">
                              <img src="../../assets/images/pagina_0002.png"  class="img-fluid animated" alt="">
                            </div>
                          </div>
                        </div>
                    </section>
                  </div>
              </div>
              <a class="carousel-control-prev text-decoration-none" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                  <i class='bx bx-chevron-left'></i>
                  <span class="visually-hidden">Anterior</span>
              </a>
              <a class="carousel-control-next text-decoration-none" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                  <i class='bx bx-chevron-right'></i>
                  <span class="visually-hidden">Próximo</span>
              </a>
          </div>
          <!-- End slider -->

      </div>
  </div>
  <!-- End Banner Hero -->