  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-body">

<div class="container">
    <div class="row">
       <div class="col-12 mt-4">
          <div class="card p-3">
              <p class="mb-0 fw-bold h4">Forma de Pagamento</p>
          </div>
        </div>
        <div class="col-12">
            <div class="card p-3">
                <!-- <div class="card-body border p-0">
                    <p>
                        <a class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-between"
                            data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                            aria-controls="collapseExample">
                            <span class="fw-bold">PayPal</span>
                            <span class="fab fa-cc-paypal">
                            </span>
                        </a>
                    </p>
                    <div class="collapse p-3 pt-0" id="collapseExample">
                        <div class="row">
                            <div class="col-8">
                                <p class="h4 mb-0">Summary</p>
                                <p class="mb-0"><span class="fw-bold">Product:</span><span class="c-green">: Name of
                                        product</span></p>
                                <p class="mb-0"><span class="fw-bold">Price:</span><span
                                        class="c-green">:$452.90</span></p>
                                <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                                    nihil neque
                                    quisquam aut
                                    repellendus, dicta vero? Animi dicta cupiditate, facilis provident quibusdam ab
                                    quis,
                                    iste harum ipsum hic, nemo qui!</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                
                <div class="modal-body">
                    <p>
                        <a class="btn btn-success p-2 w-100 h-100 d-flex align-items-center justify-content-between"
                            data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                            aria-controls="collapseExample">
                            

                            
                            <span class="float-start"><strong>Cartão de Crédito</strong></span>
                                <span>
                                    <div class="float-start">
                                        <img src="../../assets/images/master3.png" class="col-8 img-fluid img-thumbnail" alt="Sample image">
                                    </div>
                                    <div class="float-end">
                                        <img src="../../assets/images/visa3.png" class="col-8 img-fluid img-thumbnail" alt="Sample image">
                                    </div>
                                </span>
                            </a>
                        </p>
                    <br>
                    <div class="collapse show p-3 pt-0" id="collapseExample">
                        <div class="row">
                            <div class="col-lg-5 mb-lg-0 mb-3">
                                <p class="h4 mb-0">Resumo da compra</p>
                                <br>
                                <p class="mb-0"><span class="fw-bold">Produto: </span><span class="text-primary"> Site  </span>
                                </p>
                                <p class="mb-0">
                                    <span class="fw-bold">Preço: </span>
                                    <span class="text-primary">R$1499.99</span>
                                </p>
                                <p class="mb-0">
                                    <span class="fw-bold">Descrição do serviço:</span>
                                </p>
                                <p class="text-primary">Desenvolvimento de Site com as seguintes funcionalidades no menu Home, 
                                    Sobre, Contato, Produto, Serviço e Equipe.</p>
                            </div>
                            <div class="col-lg-7">
                                <form action="" class="form">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form__div">
                                                <input type="text" class="form-control" placeholder=" ">
                                                <label for="" class="form__label">Número do Cartão</label>
                                            </div>
                                        </div>
  
                                        <div class="col-6">
                                            <div class="form__div">
                                                <input type="text" class="form-control" placeholder=" ">
                                                <label for="" class="form__label">MM / AAAA</label>
                                            </div>
                                        </div>
  
                                        <div class="col-6">
                                            <div class="form__div">
                                                <input type="password" class="form-control" placeholder=" ">
                                                <label for="" class="form__label">cvv código</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form__div">
                                                <input type="text" class="form-control" placeholder=" ">
                                                <label for="" class="form__label">
                                                  Nome no cartão</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-success">Comprar</button>
</div>
</div>
</div>
</div>

    <!-- Button trigger modal -->
<button class="btn text-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <strong class="float-start"> Realizar compra  </strong> 
    <img src="../../assets/images/pagar.gif" class="col-2 img-fluid rounded mx-auto d-block" alt="Sample image">
</button>
  