<app-header></app-header> 
 
 
 <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 class="text-success">Clientes</h2>
        <h3 class="text-dark"><p>Alencar Siter possui altíssima qualidade em seus produtos de mais alto nível.</p></h3>
      </div>

      <div class="row">

        
          <div class="col-lg-7 offset-lg-2" data-aos="zoom-in" data-aos-delay="100" >
            <div class="member d-flex">
              <div class="pic"><a href="http://pw.telebrasilia.com/" target="_blank"><img src="../../assets/images/telebrasilia.png" class="img-fluid" alt="" ></a></div>
              <div class="member-info">
                <h4>Telebrasília</h4>
                <span>Desenvolvimento de Software</span>
              </div>
            </div>
          </div>
      </div>

    </div>
  </section>

<app-footer></app-footer>